.App {
  text-align: center;
<<<<<<< HEAD
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 40px;
  margin-top: 24px;
}
=======
}

>>>>>>> 8106405e0b357d1fa32d7947b5e5a4b9ad825bf2
